<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>collect data</title>
</head>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="http://localhost:4567/faye.js"></script>
<script>
  var client = new Faye.Client('http://localhost:4567/faye');
  client.subscribe('/foo', function(message) {
    // handle message
    console.log(message);
  });
</script>
<body>
  <form action="/collect" method="POST">
    <input type="submit">
  </form>

</body>
</html>