<html>
  <head>
    <title>Communicate</title>
  </head>
  <body>

     <input type="text" id="input" />
     <ul id="messages"></ul>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
      var append_li = function (str) {
        $('#messages').append($('<li>').append(str));
      }

      var ws_uri = location.href.replace(/^http/, 'ws');
      var ws = new WebSocket(ws_uri);

      ws.onopen = function () {
        append_li('Please type the name of the gem');
      }
      ws.onmessage = function (msg) {
        console.log(msg.data);
        append_li('ws.onmessage: Task "' + msg.data + '" is done');
        if ( isNaN(msg.data) ) {
          if (msg.data.match(/^(There)/)) {
            ws.send(1);
          } else {
            append_li('click <a href="/dashboard/' + msg.data + '">here</a> to check the visualizations');
          }
        } else {
          step = parseInt(msg.data) + 1;
          ws.send(step);
        }
      }
      ws.onclose = function () {
        append_li('ws.onclose');
      }

      var input = $('#input')
      input.change(function () {
        var msg = input.val();
        ws.send(msg);
        append_li('"' + msg + '" to server');
        input.val("");
      });
    </script>
  </body>
</html>
