<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Bootstrap Core CSS -->
  <link href="/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Gem</th>
          <th>Created time</th>
        </tr>
        <% @doc.each do |document| %>
          <tr>
            <td>
              <a role="button" href="/dashboard/<%= document['_id'] %>">
                <%= document['name'] %>
              </a>
            </td>
            <td><%= document['created_at'] %></td>
          </tr>
        <% end %>

      </table> 
      
    </div>
    
  </div>
</body>
</html>