<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <!-- <script src="//www.google.com/jsapi"></script> -->
  <script src="highcharts.js"></script>
  <script src="chartkick.js"></script>
  <script src="scripts.js"></script>
</head>
<body>
  <%= line_chart @doc['version_downloads_days'].map{|version|
      {name: version['number'], data: version['downloads_date']}
    }, id: "version-downloads-days", discrete: true, height: "600px", library:{title: {text: 'Version Downloads Trend'}, xAxis: {title: {text: 'Date'}}, yAxis: {title: {text: 'Downloads'}}} %>

  <hr>

  <%= column_chart @version_downloads, library: {title: {text: 'Version Downloads'}, xAxis: {title: {text: 'Versions'}}, yAxis: {title: {text: 'Downloads'}}} %>

  <hr>

  <%= column_chart @commit_week_day, library: {title: {text: 'Commit in days of week'}, xAxis: {title: {text: 'Days of Week'}}, yAxis: {title: {text: 'Commits'}}} %>

  <hr>

  <%= scatter_chart @closed_issues, library: {title: {text: 'Issues Resolution'}, xAxis: {title: {text: 'Issues(number)'}}, yAxis: {title: {text: 'time(days)'}},
    plotOptions: {
      scatter: {
                marker: {
                    radius: 5
                },
                tooltip: {
                    headerFormat: '<b>Issue {point.x}</b><br>',
                    pointFormat: '{point.y} days to be resolved'
                }
            }
    }
  } %>
</body>
</html>