<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
</head>
<body>
  <p>The service is up and running</p>
  <p>click <a href="/collect">here</a> to start collect gems info</p>
</body>
</html>