<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
</head>
<body>
  <p>The service is up and running</p>
  <ul>
    <li>
      <p>click <a href="/collect">here</a> to start collect gems info</p>
    </li>
    <li>
      <p>click <a href="/gems">here</a> to list recorded gems</p>
    </li>
  </ul>
</body>
</html>