<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
</head>
<body>
  <ul>
    <li><a href="/rubygems/<%= @id %>">rubygems</a></li>
    <li><a href="/github/<%= @id %>">github</a></li>
  	<li><a href="/stackoverflow/<%= @id %>">stackoverflow</a></li>
  </ul>
</body>
</html>