<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualization</title>
</head>
<body>
  <ul>
    <li><a href="/rubygems">rubygems</a></li>
    <li><a href="/github">github</a></li>
  </ul>
</body>
</html>